@import url('./components/variables.css');
@import url('./components/buttons.css');
@import url('./components/social-media.css');

@import url('./containers/header.css');
@import url('./containers/hero.css');
@import url('./containers/about.css');
@import url('./containers/portfolio.css');
@import url('./containers/certificates.css');
@import url('./containers/contact.css');
@import url('./containers/footer.css');

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: var(--body-1);
  color: var(--gray);
  background-color: var(--primary-color);
}

.wrapper {
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

h1 {
  font: var(--headline-2);
  color: var(--white);
}
h3 {
  font: var(--headline-3);
  color: var(--white);
}
h4 {
  font: var(--headline-4);
  color: var(--white);
}

li {
  list-style: none;
}

.section-title {
  font: var(--headline-2);
  color: var(--gray);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-subtitle {
  font: var(--headline-4);
  color: var(--white);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section-title {
    font: var(--headline-1);
    margin-bottom: 0;
  }
  .section-subtitle {
    font: var(--headline-4);
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding-left: 83px;
    padding-right: 83px;
  }
  .main {
    display: flex;
  }

  h1 {
    font: var(--headline-3);
  }
  h4 {
    font: var(--headline-3);
  }
  .section-subtitle {
    font: var(--headline-3);
  }
}
