@import url('../components/logo.css');

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(19, 39, 67, 0.95);
}
.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  width: 40px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.header-menu img {
  width: 100%;
  height: 100%;
}

.header-nav {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(19, 39, 67, 0.95);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform, opacity;
}
.header-nav.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.header-nav ul {
  height: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-nav ul li {
  border-top: 1px solid var(--white);
}
.header-nav ul a {
  padding: 18px 0;
  display: block;
  font: var(--link);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.header-nav ul li:last-child {
  margin-top: 5px;
  border: 1px solid var(--white);
  border-radius: 4px;
}
.header-nav ul li:last-child a {
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 100px;
  }
  .header-menu {
    width: 50px;
    height: 25px;
  }
  .header-nav {
    top: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    position: static;
    width: 50%;
    background-color: var(--white);
  }
  .header-menu {
    display: none;
  }
  .header .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .header-container {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}
