.portfolio-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}
.portfolio-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 140px;
}
.portfolio-header {
  margin-bottom: 36px;
}
.portfolio-projects-images {
  margin-bottom: 12px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.portfolio-projects-images img {
  width: 260px;
  max-width: 50%;
  height: max-content;
}
.portfolio-projects-images img:nth-child(2n) {
  padding-top: 50px;
}
.portfolio-projects-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}
.portfolio-projects-details span {
  font: var(--headline-3);
  color: var(--golden);
  margin-bottom: 12px;
}
.portfolio-projects-skill {
  display: flex;
  align-items: center;
  gap: 8px;
}
.portfolio-projects-skill h4 {
  color: var(--gray);
}
.portfolio-projects-details p {
  max-width: 480px;
}
.portfolio-projects-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 600px) {
  .portfolio-projects-images img {
    max-width: 180px;
  }
  .portfolio-projects-details {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-projects-item {
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
  }
  .portfolio-projects-item:nth-child(2n - 1) .portfolio-projects-images {
    order: 1;
  }
  .portfolio-projects-item:nth-child(2n) .main_picture {
    order: 1;
  }

  .portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .portfolio-projects-details span {
    font: var(--headline-2);
  }
  .portfolio-projects-details h3 {
    font: var(--headline-2);
  }
  .portfolio-projects-buttons {
    flex-direction: row;
  }
  .portfolio-projects-buttons .btn {
    width: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio-projects-item {
    width: 100%;
    max-width: 1000px;
  }
  .portfolio-projects-details h3 {
    font: var(--headline-1);
  }
  .portfolio-projects-details p {
    font: var(--headline-4);
    font-weight: 400;
  }
  .portfolio-header {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-projects-images img {
    max-width: 220px;
  }
}
