.portfolio-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}
.portfolio-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 180px;
}
.portfolio-projects-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  margin: 0 auto;
}
.portfolio-projects-images img {
  width: 260px;
  max-width: 50%;
  height: max-content;
}
.portfolio-projects-images img:nth-child(2n) {
  padding-top: 50px;
}
.portfolio-projects-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}
.portfolio-projects-details span {
  font: var(--headline-3);
  color: var(--golden);
  margin-bottom: 12px;
}
.portfolio-projects-skill {
  display: flex;
  align-items: center;
  gap: 8px;
}
.portfolio-projects-skill h4 {
  color: var(--gray);
}
.portfolio-projects-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
