.devfinder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.devfinder__logo {
  font: var(--headline-4);
  line-height: 1.5;
  font-size: 16px;
  color: #e8ebef;
}
.devfinder__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2a48;
  padding: 6px;
  border-radius: 8px;
}
.devfinder__search svg {
  display: none;
}
.devfinder__search input {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  color: white;
}
.devfinder__search input::placeholder {
  color: #d9e3f7;
}
.devfinder__search button {
  background-color: #0279fa;
  padding-block: 6px;
  padding-inline: 10px;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
}

.devfinder__data {
  text-align: center;
  background-color: #1f2a48;
  padding: 10px;
  border-radius: 8px;
  font: var(--body-2);
  font-size: 12px;
}
.devfinder__data h3 {
  font: var(--body-2);
  font-weight: 700;
}
.devfinder__data a {
  font: var(--caption);
  color: #abc6e3;
  text-decoration: none;
}
.devfinder__avatar img {
  width: 50px;
  height: 50px;
  margin-bottom: 4px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}
.devfinder__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  padding-top: 10px;
}
.devfinder__stats-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}
.devfinder__stats-item span {
  font-weight: normal;
  color: #d9e3f7;
}

@media screen and (min-width: 768px) {
  .devfinder__ {
    gap: 20px;
  }
  .devfinder__logo {
    font-size: 20px;
  }
  .devfinder__search {
    padding: 8px;
    padding-left: 16px;
    border-radius: 12px;
  }
  .devfinder__search svg {
    display: block;
    width: 30px;
  }
  .devfinder__search input {
    padding: 10px;
    font-size: 14px;
  }
  .devfinder__search button {
    padding-block: 8px;
    padding-inline: 16px;
  }

  .devfinder__data {
    padding: 25px 20px;
    border-radius: 12px;
    font: var(--body-2);
  }
  .devfinder__data h3 {
    font: var(--body-1);
  }
  .devfinder__data a {
    font: var(--body-2);
  }
  .devfinder__avatar img {
    width: 80px;
    height: 80px;
  }
  .devfinder__stats {
    margin-top: 25px;
    padding-top: 25px;
  }
}
