.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  font: var(--body-1);
}
.slider__title {
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
}
.slider__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
}
.slider__tags {
  display: flex;
  gap: 5px;
  list-style: none;
}
.slider__tags li {
  font: var(--caption);
  font-weight: 500;
  padding: 4px;
  color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
.slider__picture {
  height: 250px;
}
.slider__input {
  width: 60%;
  height: 2px;
  align-self: center;
  margin-bottom: 10px;
}
.slider__actions {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
}
.slider__actions button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .slider__title {
    font-size: 20px;
    line-height: 26px;
  }
  .slider__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .slider__tags {
    gap: 10px;
  }
  .slider__tags li {
    font: var(--body-2);
    font-weight: 500;
    padding: 0 6px;
  }
  .slider__actions button {
    width: 32px;
    height: 32px;
  }
}
