.card {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  margin: 0 auto;
  padding: 30px 25px;
  border-radius: 20px;
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  margin-bottom: 36px;
}
.card-title {
  margin-bottom: 10px;
  font: var(--headline-3);
  color: var(--secondary-color);
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-item {
  display: flex;
  align-items: center;
}
.card-item img {
  width: 20px;
  margin-right: 10px;
  height: fit-content;
}
.card-item p {
  color: var(--black);
}
