.btn {
  width: 100%;
  padding: 12px 18px;
  border: none;
  outline: none;
  font: var(--button);
}
.btn-secondary {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--primary-color);
  border-radius: 4px;
}
