.logo {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--gray);
}
.logo-text {
  font-family: 'Work Sans', sans-serif;
  color: var(--white);
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-text {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    border-bottom: 3px solid var(--primary-color);
  }
  .logo-text {
    color: var(--black);
    font-size: 42px;
    letter-spacing: 6.5px;
  }
}
